.vscode/settings.json
build/
dist/
include/balltze/engine/tag_definitions/
include/balltze/engine/tag_definitions.hpp
include/balltze/hek/tag_definitions/
include/balltze/hek/tag_definitions.hpp
lua/plugins/docs/types/tag_data/
package/game-mods/balltze.dll
src/balltze/plugins/lua/types/engine_tag_data.cpp
src/balltze/plugins/lua/types/engine_tag_data.hpp
package/my-games-data-path/balltze/config