version: '3.1'
services:
  common: &common
    image: bonk
    stdin_open: true
    volumes:
      - ./:/workspace
    working_dir: /workspace
  shell:
    <<: *common
    entrypoint: /bin/bash
  build:
    <<: *common
    entrypoint:
    - /bin/bash
    - -c
    - |
      mkdir build
      cd build
      i686-w64-mingw32-cmake .. -DBALLTZE_ENABLE_EXPERIMENTAL=ON
      make -j $(nproc)
  build-release:
    <<: *common
    entrypoint:
    - /bin/bash
    - -c
    - |
      mkdir build
      cd build
      i686-w64-mingw32-cmake .. -DBALLTZE_ENABLE_EXPERIMENTAL=ON -DCMAKE_BUILD_TYPE=Release
      make -j $(nproc)
      i686-w64-mingw32-strip balltze.dll
  clean:
    <<: *common
    entrypoint:
    - /bin/bash
    - -c
    - |
      cd build
      make clean