// SPDX-License-Identifier: GPL-3.0-only

#include "../../resources.hpp"

ID_LOADING_SCREEN_SHADER        CSO     "loading_screen_shader.cso"
ID_LOADING_SCREEN_BACKGROUND    PNG     "loading_screen_background.png"
